<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>
<body>
    <p>
        <a href="{% url 'ToDo_App:index' %}">Home</a>
    </p>
    <h3>Todo App helps you keep track of all the todo activities and lists.</h3>
    <header>
        {% load static %}
        <img src="{% static "ToDo_App/nicky.jpg" %}" alt="Header Image" width="500" height="600">
    </header>
    {% block content%} {%endblock content%}
</body>
<footer>
    <p>Nicky &copy;<span>Copyright, 2020</span></p>
</footer>
</html>
